input:required
{
	border: 1px solid red;
}

h2
{
	text-align: center;
}

html
{
	background-color: #646464;
	font-size: 10pt;
}

header
{
	color: black;
	text-align: center;
	padding: 5px;
}

/*input[type=text] input[type=number] {*/
/*width: 200px;*/
/*}*/
#ch_fname #ch_mname #ch_lname #kalgy #visit_date #ch_gender
{
	width: 200px;
}

#ch_age
{
	width: 180px;
}

label
{
	display: block;
	color: #999;
}

.result_fields
{
	position: relative;
	float: left;
}

.search_container
{
	/*line-height: 30px;*/
	float: right;
	height: auto;
	width: auto;
	display: block;
	padding: 5px;
}

.search_box
{
	position: relative;
	box-sizing: border-box;
	border: 2px solid #CCC;
	border-radius: 4px;
	font-size: 12px;
	width: auto;
	background: grey url('search_box_icon.png') no-repeat 10px 10px;
	padding: 12px 20px 12px 40px;
}

.results_container
{
	float: left;
	width: 500px;
	padding: 10px;
	background-color: #686868;
}

footer
{
	background-color: black;
	color: black;
	clear: both;
	text-align: center;
	padding: 5px;
}

input[type=submit]
{
	display: inline-block;
	cursor: pointer;
	background-color: #0858AF; /* Green */
	border: none;
	color: white;
	padding: 4px 15px;
	font: bold 1em/2em Arial, Helvetica;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .4em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	overflow: visible;
	-moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
}

input[type=submit]:focus
{
	outline: 0;
	background: #FAFAFA;
}

button.button, input.button
{
	cursor: pointer;
	overflow: visible; /* removes extra side spacing in IE */
}

input::-moz-focus-inner
{
	padding: .4em;
}

button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}

.search_button:hover
{
	background-color: #FFF;
	color: #0858AF;
	border: 1px;
	box-shadow: 0 0 .1em rgb(16, 255, 0);
}

.update_button
{
	display: inline-block;
	cursor: pointer;
	background-color: #0858AF; /* Green */
	border: none;
	color: white;
	padding: 4px 15px;
	font: bold 1em/2em Arial, Helvetica;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .4em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	overflow: visible;
	-moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
}

.update_button:hover
{
	background-color: #FFF;
	color: #0858AF;
	border: 1px;
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.4);
}
